.navBar {
    width: 100%;
    padding: 25px 0!important;
    align-items: flex-start !important;
}

.nav {
    width: 100%;
    justify-content: space-around;
}


.link:hover {
    text-decoration: underline!important;
}
